@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
@font-face {
    font-family:  "Anta";
    src: url(Anta-Regular.ttf);
}
@font-face {
    font-family:  "Jersey 10";
    src: url(Jersey10-Regular.ttf);
}
.font1 {
    font-family: "Anta", sans-serif;
}
.font2 {
    font-family: "Jersey 10", sans-serif;
}
/* .contet-titles{

} */
.titles{
    font-weight: 2  00;
    color: #ff0000;
    font-size: 50px;
    font-family: "Jersey 10", sans-serif;
    @media only screen and (max-width: 600px){
        font-size: 40px;
    }   
}
.MyName{
    font-weight: 400;
    color: #ff0000;
    font-size: 50px;
    font-family: "Jersey 10", sans-serif;
    @media only screen and (max-width: 600px){
        font-size: 40px;
    }
}
.shadow{
    /* width: 200px; */
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: #500000;
    border-radius: 20px;
}
.img-languages{
    height: 40px;
    margin-right: 10px;
}
.img-languages:hover{
    filter: drop-shadow(5px 5px 20px #ff5757);
    scale: 110%;
}
.knowledge{
    color: #ffdddd;
    font-size: 15px;
}
.card{
    // background: #5d5d5d;
    // background: linear-gradient(160deg, #5d5d5d 0%, rgba(9,9,121,0) 89%);
    border-radius: 20px;
    // border: #5d5d5d solid 1px;
}
.card2{
    // background: #5d5d5d;
    // background: linear-gradient(160deg, #5d5d5d 0%, rgba(9,9,121,0) 89%);
    border-radius: 20px;
    border: #5d5d5d solid 1px;
}
.title-card{
    font-weight: 900;
    color: #ff0000;
    font-size: 20px;
    font-family: "Anta", sans-serif;
    @media only screen and (max-width: 600px){
        font-size: 15px;
    }   
}
.text-card{
    font-weight: normal;
    color: #ffffff;
    font-size: 15px;
    font-family: "Anta", sans-serif;
}
.card-experience{
    border-radius: 20px;
    border: #500000 solid 1px;
}
.contenedor{
    background-color: #292929; 
    border: #292929 1px solod; 
    border-radius: 20px;
}
.contenedor-tecnologias {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    // background-color: #500000;
    // border-radius: 50px;
}

.contenedor-tecnologias .tecnologia {
    width: calc(25% - 10px); /* Calcula el 20% del ancho total del contenedor y resta 10px de margen entre los elementos */
    @media only screen and (max-width: 600px){
        width: calc(38% - 10px);
    }  
    margin-bottom: 10px; /* Agrega un pequeño margen inferior entre las filas */
    background-color: #500000;
    border-radius: 50px; /* Color de fondo blanco para mayor contraste */
    text-align: center; /* Centra el contenido horizontalmente */
}
